# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# production
/build

# debug
npm-debug.log*

# local env files
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
